{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
{% endblock %}

{% block content %}
	<main class="container">
		<article class="grid">
			<div>
					<h1>Connexion Administrateur</h1>
				<form action="" method="post">
					<input type="text" name="username" id="username" placeholder="Nom d'utilisateur" aria-label="Login" required/>
					<input type="password" id="password" name="password" placeholder="Mot de passe" aria-label="Password" required/>
					<fieldset>
						<label for="remember">
							<input type="checkbox" role="switch" id="remember" name="remember"/>
							Remember me
						</label>
					</fieldset>
					<button type="submit" class="contrast">Connexion</button>
				</form>
			</div>
		</article>
	</main>
{% endblock %}
