{% extends 'layout.html.twig' %}

{% block content %}


  <section class="mainContactContainer">
     
      <div class="container">

        <div class="screen">

            <div class="screen-body-item left">

              <div class="app-title">
                <span>Pour nous joindre</span>
              </div>

            </div>

            <div class="screen-body-item">

              <div class="input-contact">

                <div>
                  <input class="nom" placeholder="NOM">
                </div>

                <div>
                  <input class="email" placeholder="EMAIL">
                </div>

                <div>
                  <input class="message" placeholder="MESSAGE">
                </div>

                <div class="group-buttons">
                  <button class="button">ANNULER</button> </n>
                  <button class="button">ENVOYER</button>
                </div>

              </div>

            </div>

        </div>

      </div>

      
      <div class="right-contact">
          <p>CONTACT</p>
          <p>Adresse</p>
          <p>Email</p>
          <p>Tel : 0651626263</p>
      </div>

  </section>

  

  <img class="img-contact" src="https://image.jimcdn.com/app/cms/image/transf/none/path/s605dcde7785e57a4/image/i4339c70801210f69/version/1645456497/image.jpg">

{% endblock %} 