{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/slide.css"/>
{% endblock %}

{% block content %}

	 <swiper-slide>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\menuiserie\1645456793 (1).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\menuiserie\1645456793 (2).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\menuiserie\1645456793 (3).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\menuiserie\1645456793.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\menuiserie\1645456794 (2).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\menuiserie\1645456794 (3).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\menuiserie\1645456794 (4).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\menuiserie\1645456794 (5).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\menuiserie\1645456794 (6).jpg" />
                </div>
            </div>
            <div class="swiper-pagination"></div>

</div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="assets\js\slide.js"></script>


{% endblock %}
