{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/slide.css"/>
{% endblock %}

{% block content %}
	 <swiper-slide>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\agencement\1645456621 (1).jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\agencement\1645456621 (2).jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\agencement\1645456621 (3).jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\agencement\1645456621 (4).jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\agencement\1645456621 (5).jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\agencement\1645456621 (6).jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\agencement\1645456621 (7).jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="\assets\gallery_img\agencement\1645456621.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img  src="\assets\gallery_img\agencement\image.jpg" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>

</div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="\assets\js\slide.js"></script>
{% endblock %}
