{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/slide.css"/>
{% endblock %}

{% block content %}


	<swiper-slide>
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src=" \assets\gallery_img\exterieur\1645456124 (1).jpg" alt=" ">
				</div>
				<div class="swiper-slide">
					<img src="\assets\gallery_img\exterieur\1645456124 (2).jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="\assets\gallery_img\exterieur\1645456124 (3).jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="\assets\gallery_img\exterieur\image (1).jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="\assets\gallery_img\exterieur\image (2).jpg" alt=" ">
				</div>
                <div class="swiper-slide">
					<img src="\assets\gallery_img\exterieur\image.jpg" alt=" ">
				</div>
				<div class="swiper-pagination"></div>

			</div>
			<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
			<script src="\assets\js\slide.js"></script>
		{% endblock %}
