{% extends 'layout.html.twig' %}

{% block title %}
	EBC Accueil
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
	<link rel="stylesheet" href="/assets/css/styleLayoutsIndex.css"/>
{% endblock %}

{% block content %}

	<main>
		<div
			class="swiper">
			<!-- Additional required wrapper -->
			<div
				class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<section class="mainPage">

						<div class="titleContainer">
							<h1 class="title">EB CONCEPTION</h1>
						</div>

						<div class="logoContainer">
							<img class="logo fb" src="/assets/imgs/fb_logo.png" alt="logo facebook">
							<img class="logo twitter" src="/assets/imgs/twitter_logo.png" alt="logo twitter">
						</div>

					</section>
				</div>

				<div class="swiper-slide">
					<section class="menuiserie" aria-label="Ménuiserie">

						<div class="subtitleContainer layout1">
							<h2>
								Ménuiserie
							</h2>
						</div>

						<div class="boldTextContainer layout1">
							<p>
								JE VOUS ACCOMPAGNE DANS VOS PROJETS EN VOUS APPORTANT MON EXPERTISE
							</p>
						</div>

						<div class="colouredTextContainer layout1">
							UN SAVOIR FAIRE CLASSIQUE MODERNISÉ
						</div>

						<div class="descriptionContainer layout1">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								<br>
								<br>
								Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								<br>
								<br>
								Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia eserunt mollit anim id est laborum.
							</p>
						</div>

						<div class="mainImgContainer layout1">
							<img src="/assets/imgs/menuiseriePrimary.png" alt="">
						</div>

						<div class="secondaryImgContainer layout1">
							<img src="/assets/imgs/menuiserieSecondary.png" alt="">

						</div>

						<div class="galeryLinkContainer layout1">
							<a class="galeryLink" href="">Galerie...</a>
						</div>

					</section>
				</div>

				<div class="swiper-slide">

					<section class="escalier" aria-label="Éscalier">

						<div class="subtitleContainer layout2">
							<h2>
								Éscalier
							</h2>
						</div>

						<div class="boldTextContainer layout2">
							<p>
								STAIRWAYS TO HEAVEN AND BACK
							</p>
						</div>

						<div class="colouredTextContainer layout2">
							DES TRAVAUX FAIT SUR MESURE POUR VOTRE QUOTIDIEN
						</div>

						<div class="descriptionContainer layout2">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
																																																																																																																																				incididunt ut labore et dolore magna aliqua.
								<br>
								<br>
								Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris
																																																																																																																																				 nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
																																																																																																																																					voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								<br>
								<br>
								Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
																																																																																																																																				 deserunt mollit anim id est laborum.
							</p>

						</div>

						<div class="mainImgContainer layout2">
							<img src="/assets/imgs/escalierPrimary.png" alt="">
						</div>

						<div class="secondaryImgContainer layout2">
							<img src="/assets/imgs/escalierSecondary.png" alt="">

						</div>

						<div class="galeryLinkContainer layout2">
							<a class="galeryLink" href="">Galerie...</a>
						</div>

						<div class="backgroundBox1 layout2"></div>

						<div class="backgroundBox2 layout2"></div>

                        <div class="highlightBox1 layout2"></div>

                        <div class="highlightBox2 layout2"></div>

					</section>
				</div>

				<div class="swiper-slide">

					<section class="exterieur" aria-label="Extérieur">

						<div class="subtitleContainer layout1">
							<h2>
								Extérieur
							</h2>
						</div>

						<div class="boldTextContainer layout1">
							<p>
								VOS EXTÉRIEURS SOIGNÉS POUR SE SENTIR COMME A LA MAISON
							</p>
						</div>

						<div class="colouredTextContainer layout1">
							MODERNISEZ ET AMENAGEZ VOS EXTERIEURS
						</div>

						<div class="descriptionContainer layout1">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
																																																																																																																																				incididunt ut labore et dolore magna aliqua.
								<br>
								<br>
								Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris
																																																																																																																																				 nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
																																																																																																																																					voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								<br>
								<br>
								Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
																																																																																																																																				 deserunt mollit anim id est laborum.
							</p>

						</div>

						<div class="mainImgContainer layout1">
							<img src="/assets/imgs/exterieurPrimary.jpg" alt="">
						</div>

						<div class="secondaryImgContainer layout1">
							<img src="/assets/imgs/exterieurSecondary.jpg" alt="">

						</div>

						<div class="galeryLinkContainer layout1">
							<a class="galeryLink" href="">Galerie...</a>
						</div>

					</section>

				</div>

				<div class="swiper-slide">

					<section class="ebenisterie" aria-label="Ébénisterie">

						<div class="subtitleContainer layout2">
							<h2>
								Ébénisterie
							</h2>
						</div>

						<div class="boldTextContainer layout2">
							<p>
								A PLACE TO STAY
							</p>
						</div>

						<div class="colouredTextContainer layout2">
							SAVOIR EBENER, C'EST TOUCHER LE SOURIRE DES DIEUX
						</div>

						<div class="descriptionContainer layout2">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
																																																																																																																																				incididunt ut labore et dolore magna aliqua.
								<br>
								<br>
								Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris
																																																																																																																																				 nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
																																																																																																																																					voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								<br>
								<br>
								Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
																																																																																																																																				 deserunt mollit anim id est laborum.
							</p>

						</div>

						<div class="mainImgContainer layout2">
							<img src="/assets/imgs/ebenisteriePrimary.jpg" alt="">
						</div>

						<div class="secondaryImgContainer layout2">
							<img src="/assets/imgs/ebenisterieSecondary.jpg" alt="">
						</div>

						<div class="galeryLinkContainer layout2">
							<a class="galeryLink" href="">Galerie...</a>
						</div>

                        <div class="backgroundBox1 layout2"></div>

						<div class="backgroundBox2 layout2"></div>

                        <div class="highlightBox1 layout2"></div>

                        <div class="highlightBox2 layout2"></div>

					</section>

				</div>
				<div class="swiper-slide">

					<section class="agencement" aria-label="Agencement">

						<div class="subtitleContainer layout1">
							<h2>
								Agencement
							</h2>
						</div>

						<div class="boldTextContainer layout1">
							<p>
								UNE MAISON AGENCÉ EST UNE MAISON POUR LA VIE
							</p>
						</div>

						<div class="colouredTextContainer layout1">
							UN AGENCEMENT MAÎTRISÉ POUR UNE VIE PROSPERE
						</div>

						<div class="descriptionContainer layout1">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
																																																																																																																																				incididunt ut labore et dolore magna aliqua.
								<br>
								<br>
								Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris
																																																																																																																																				 nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
																																																																																																																																					voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								<br>
								<br>
								Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
																																																																																																																																				 deserunt mollit anim id est laborum.
							</p>

						</div>

						<div class="mainImgContainer layout1">
							<img src="/assets/imgs/agencementPrimary.png" alt="">
						</div>

						<div class="secondaryImgContainer layout1">
							<img src="/assets/imgs/agencementSecondary.png" alt="">

						</div>

						<div class="galeryLinkContainer layout1">
							<a class="galeryLink" href="">Galerie...</a>
						</div>

					</section>

				</div>

			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

			<!-- If we need scrollbar -->
			<div class="swiper-scrollbar"></div>
		</div>
	</div>
</main>{% endblock %}{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/assets/js/scriptSwiperIndex.js"></script>{% endblock %}
