{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/recep.css"/>{% endblock %}


{% block content %}

<div class="container">
      <div class="box">
      <h1> Merci de votre soutien!!!</h1>
    </div>
    </div>

{% include 'Include/_navbar.html.twig' %}
{% endblock %}
