
/* Main container */

section.mainContactContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  font-family: 'Iceland';
  font-weight: 25px;
  letter-spacing: 1.4px;
}

/* IMAGE EBENISTE */

.img-contact {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 37%;
  z-index: -7;
}

/* BANDEAU CONTACT A DROITE */

.right-contact{
  background-color: #686464;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26%;
  height: 100%;
  color: #E3C6A9; /*couleur texte*/
}

/* Formulaire de Contact */

.container {
  align-items: center;
  padding: 0;
  width: 40rem;
  background-color: white;
}

.screen {
  background: #353434;
  height: 40vh;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.app-title {
  display: flex;
  flex-direction: row;
  position: relative;
  color: #E3C6A9;
  font-family: "Iceland";
  font-size: 40px;
  left: 3rem;
  bottom: -10px;
  width: 20rem;
  height: 40px;
} 
.group-buttons, input {
  font-family: 'Iceland';
  font-weight: 25px;
  letter-spacing: 1.4px;
  margin-bottom: 15px;
  margin-left: 10rem;
  background: none;
  border: none;
  color: #E3C6A9;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

