.rectangle {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 35%;
    height: 100rem;
    background-color: var(--lightBrown);
}

form {
    padding: 1rem;
}

h1 {
margin-left: 10%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    color: var(--lightBrown);
}

.container {
    position: absolute;
    background-color: var(--black);
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 3%;
    padding-top: 2rem;
    width: 34%;
    height: auto;
    padding: 2rem;
}

label, h2 {
    color: var(--lightBrown);
}

h2 {

    display: flex;
    align-self: flex-start;

}

input {
    width: 100%;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid;
    color: var(--lightBrown);
    margin:0;

}
.rate{
    padding: 0 20px;
    display: inline-flex;
    flex-direction: row-reverse;
    float: left;
    margin-right: 25%;
    margin: left 35%

}

label {
    display: flex;
    justify-content: center;

}

textarea {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid;
    color: #C08F46CF;

}

button {

    background: none;
    border: 2px solid;
    color: #C08F46CF;
    width: auto;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-right: 75%;
    margin-top: 15%;
}

@media screen and (min-width:1200px){

    .rate{
    display: inline-flex;
    flex-direction: row-reverse;
    float: left;
    height: 46px;
    padding: 0 20px;
    margin-left: 10%;
    margin-right: 0%;
    }
}
@media screen and (max-width:1200px){
.rate {
    display: inline-flex;
    flex-direction: row-reverse;
    float: left;
     margin-left: 25%;
    margin-right: 55%;
}

div.container {
    top: 8%;
}

form{
    padding:0;
margin-top: 2rem;
    height: 35%;
    width: 100%;
}
.container{
    width: 82.5%;
    padding:1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

h2{
    height: 1rem;
    padding-bottom: 1rem;
}
h1{
    margin-left: 2.5rem;
}
input{
    width: 100%;
}
textarea{
    width:100% ;
}
button{
    margin-left: 45%;
}
}

.rate:not(:checked)>input {
    position: absolute;
   top: -9999px;
   margin-right: 160px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
    padding: .5rem;

}

.rate>input:checked~label {
    color: #ffc700;

}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

/********STYLE DU CARROUSEL*********/


@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  body {
    margin: 0 auto;
    text-align: center;
  }

  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

  ol,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  section.carousel {
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-left: 53.1%;
    margin-right: 18%;
    margin-top: 11.5%;
    width: 34%;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px rgba(44, 47, 44, 0.2));
    perspective: 100px;
    position: absolute;
  }

  .carousel__viewport {
    position: absolute;
    top: -3%;
    right: 0;
    bottom: 29%;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .carousel__slide {
    border-radius: 2.5rem;
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #a0a0a0;
    counter-increment: item;
    margin-bottom: 90%;
    color: black;
  }

  .carousel__slide:nth-child(even) {
    background-color: #a0a0a0;

  }

  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #1a1a1a;
    font-size: 0;
  }

  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }

  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }

  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }

  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    top: 30%;
  }

  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  ol.carousel__navigation-list {
    margin-top : -5rem;
  }

  .carousel__navigation-button {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #1a1a1a;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 90%;
    font-size: 0;
    transition: transform 0.1s;
  }

  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 28%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }

  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }

  .carousel::after,
  .carousel__next {
    right: -1rem;
  }

  /* Personnalisation flèches droite & gauche*/
  .carousel::before,
  .carousel::after {
    content: "";
    z-index: 1;
    background-color: #696161;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;

  }

  /* Flèche gauche */
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }

  /* Flèche droite */
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

  .reviews {
    color: black;
    width: 10px;
    height: 10px;
  }

  .carousel_container-comment {
    margin-top: 1.5rem;
  }

    .carousel_container-comment >p {
        margin: 1.5rem;
    }

  .testimony_title{
    color: #1a1a1a;
    margin-left: 2rem;
  }

  .carousel_testimony{
    font-weight: bolder;
  }


  /* Style étoiles du caroussel*/

  .rate_testimony {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: stretch;
    float: left;
    height: 46px;
    padding: 0 20px;
    margin-top: 5%;
    margin-left: 32%;
    margin-right: 30%;
  }
  .rate_testimony:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .rate_testimony:not(:checked):not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  .rate_testimony:not(:checked) > label:before {
    content: "★ ";
    padding: 0.5rem;
  }


 html { overflow-y: hidden; }

  /*medias queries carrousel*/

  @media screen and (max-width:768px){

    section.carousel{
        top: 60%;
        width: 42%;
        height: 50%;
    }

    .carousel__slide {
        width: 42%;
        height: 50%;
      }

       ol.carousel__viewport{
        left: -12rem;
    }

    section.carousel::before{
        top: 3rem;
        left : -13rem;
        position: absolute;
    }

    section.carousel::after{
        top: 3rem;
    }
   .carousel_container-comment {
        margin-top: 1rem;
      }

        .carousel_container-comment >p {
            margin: 0.5rem;
        }

      .testimony_title{
        margin-left: 1rem;
      }

    ol.carousel__navigation-list{
        display: none;
    }

    div.rate_testimony{
        margin-left: 22%;
    }
  }


