/* main color variables */

:root {
    --black: #1a1a1a;
    --beige: #e3c6a9;
    --gray: #686464;
    --white: #ffffff;
    --green: #004f0d;
    --brown: #3e2d22;
}

* {
    margin: 0;
}

body {
    box-sizing: border-box;
    /* police a mettre */
    line-height: 1.5rem;
}

/* requires here */
@import url(./styleLayoutsIndex.css);
